
@model List<Seminar_Tihomir_Samardzija.Models.ViewModel.ApplicationUserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    @Html.ActionLink("Dodaj", "CreateNewUser", new { /* id=item.PrimaryKey */ },new {@class = "btn btn-primary"})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new {  id=item.Id  },new {@class = "btn btn-primary"}) |
                    @Html.ActionLink("Delete", "DeleteUser", new {  id=item.Id  },new {@class = "btn btn-danger"}) |
                    @Html.ActionLink("Details", "UserDetails", new { id=item.Id },new {@class = "btn btn-success"}) |
                </td>
            </tr>
        }
    </tbody>
</table>
